<h1 id="titlename">Notesapp</h1>
<div id="note"></div>
<script src="https://fb.me/react-0.14.3.js"></script>
<script src="https://fb.me/react-dom-0.14.3.js"></script>
<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>