<html>
<head>
   <meta charset="utf-8">
   <title>Notesapp</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <script type="text/jsx" src="/js/utils.js"></script>
   <script type="text/jsx" src="/js/EventList.js"></script>
   <script type="text/jsx" src="/js/inlineStyles.js"></script>
   <script type="text/jsx" src="/js/app.js"></script>
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{yield}}
</body>

</html>