.titlename {
  top: 2%;
  left: 40%;
  font-size: 50px;
  position: fixed;
}

.notes {
    font-size: 20px;
    padding: 6px;
    top: 20px;
    position: absolute;
}


.list {
	width: 500px;
	left: 50%;
	position: absolute;
}
