@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.titlename {
  text-align: center;
  font-size: 50px;
  position: fixed;
}

.notes {
    font-size: 20px;
    padding: 6px;
    top: 20px;
    position: absolute;
}


.list {
	width: 500px;
	left: 50%;
	position: absolute;
}